@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* { box-sizing: border-box;}

html, body {
    width: 100%;
    height: 100%;
    background-color: #f8f1f1;
    margin: 0;
    padding: 0;
    color: #f8f1f1;
    font-family: 'Abril Fatface', cursive;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: #11698e 1px solid;
    background-color: #19456b;
    border-radius: 30px;
    margin: 0 10px;
    align-items: center;
    justify-content: start;
    box-shadow: 0 10px 20px 0 #11698e;
}

.headline {
    width: 100%;
    text-align: center;
    /* font-family: 'Abril Fatface'; */
    text-shadow: 1px 1px #11698e;
    margin-top: 20px;
}

.zip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    text-align: center;
    margin: 20px 0;
}

#zip {
    width: 100%;
    height: 20px;
    border-radius: 20px;
    text-align: center;
    border: #d3e0dc 1px solid;
    box-shadow: 0 1px 1px 0 #ece2e1;
    margin: 2px 0;
}

.feel {
    width: 250px;
    text-align: center;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myInput {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    border: #d3e0dc 1px solid;
    box-shadow: 0 1px 1px 0 #ece2e1;
    margin: 5px 0;
    text-align: center;
}

#generate {
    width: 60px;
    height: 60px;
    font-size: 12px;
    border-radius: 30px;
    border: #11698e 3px solid;
    background-color: #16c79a;
    color: rgb(7, 7, 7);
    margin-top: 30px;
    margin-bottom: 10px;
    transition: width 1s height 2s;
    color: #f8f1f1
}

#generate:hover {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    border: #f8f1f1 3px solid;
    font-size: large;
}

.entry {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.showCard {
    box-shadow: 0 1px 2px 0 #f8f1f1;
    transition: 0.3s;
    width: 250px;
    margin: 5px 0;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #11698e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showCard:hover {
    box-shadow: 0 2px 4px 0 #f8f1f1;
}

#date {
    font-size: 10px;
}

#location {
    font-size: 20px;
    color:#16c79a;
    margin-bottom: 10px;
}

#content {
    margin-top: 5px;
}

#map {
    width: 150px;
    height: 100px;
    margin-top: 5px;
}

@media screen and (min-width: 350px) {
    #app {
        width: 300px;
        margin: auto;
        margin-top: auto;
    }
}